@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  /* colors for darker */
  --dark-blue-bg: rgba(15,20,34,255);
  --blue-sp: rgba(28,37,58,255);
  --blue-box: rgba(44,55,84,255);

}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh; /* Ensure the body covers the full height */
  background-color: var(--dark-blue-bg);
}

.timer {
  font-family: 'Work Sans', sans-serif;
  justify-content: center;
  color: white;
  padding-top: 40vh;
  font-size: 10rem;
  font-weight: 600;
}



.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}
